<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todo"
    android:versionCode="1"
    android:versionName="1.0"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="AppUI"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="TaskUI"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>
         <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
		<receiver android:name=".ToDoReceiver"
		     android:enabled="true"
    		android:exported="true" >
		    <intent-filter>
		        <action android:name="pubnub.android.todo.MESSAGE"/>
		    </intent-filter>
		</receiver>
        <service android:name=".PubnubService"/>
        <activity
            android:name="ModifyTaskUI"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" >
        </activity>
    </application>

</manifest>